<app-menu [arquetipoElegido]="nombre_arquetipo"></app-menu>

<div id="creador">
    <h4 class="text-center">Crear Arquetipo</h4>
    <div class="row">
      <div class="col-md-12 col-lg-2">
        <div id="panelFiguras">
          <h4>Figuras</h4>
          <!--IMAGEN-->
          <img class="figuras" id="figura1" draggable="true" (dragstart)="drag($event)" src="assets/base.png">
          
          <img class="figuras" id="figura2" draggable="true" (dragstart)="drag($event)" src="assets/estructural.png">
          
          <img class="figuras" id="figura3" draggable="true" (dragstart)="drag($event)" src="assets/terminal.png">
        </div>
      </div>
      <div class="col-md-12 col-lg-10">
        <div (drop)="drop($event)" (dragover)="allowDrop($event)"class="jtk-demo-canvas canvas-wide chart-demo jtk-surface jtk-surface-nopan" id="canvas"></div>
      </div>
    </div>
</div>

<!-- Modal Nodos-->
<div class="modal fade" id="modalNodos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambiar Nombre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #f1="ngForm" (ngSubmit)="cambiarNombre(f1)" novalidate>
              <div class="form-group">
                <input type="text" class="form-control" name="nuevoNombre" onfocus="this.value=''" ngModel #nuevoNombre="ngModel" placeholder="{{nombreNodo}}">
              </div>
              <button type="submit" class="btn btn-primary">Aceptar</button>
          </form>
        <!--{{nombreNodo}}-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>